/*======================== form =======================*/
.webix_el_text input,
.webix_el_search input,
.webix_el_combo input,
.webix_el_datepicker input,
.webix_el_colorpicker input {
  font: 500 13px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana,
    sans-serif;
  padding: 0 6px;
  height: 28px;
  border-radius: 2px;
  transition: all .3s ease;
}
.webix_inp_label,
.webix_inp_top_label,
legend.webix_forminput_label,
.webix_el_label .webix_el_box {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana,
    sans-serif;
}
.webix_el_text input:focus, .webix_el_search input:focus, .webix_el_combo input:focus, .webix_el_datepicker input:focus, .webix_el_colorpicker input:focus{
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24,144,255,.2);
  border-color:#1890ff
}
.yvan-validate-error.webix_el_text input,
.yvan-validate-error.webix_el_search input,
.yvan-validate-error.webix_el_combo input,
.yvan-validate-error.webix_el_datepicker input,
.yvan-validate-error.webix_el_colorpicker input {
  border:1px solid #ff8400
}
.yvan-validate-error input:focus, 
.yvan-validate-error input:focus, 
.yvan-validate-error input:focus, 
.yvan-validate-error input:focus, 
.yvan-validate-error input:focus{
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255,132,0,.2);
  border-color:#ff8400
}
.yvan-validate-error{
  overflow: visible!important;
}
.yvan-validate-error .webix_el_box{
  overflow: visible!important;
}
.yvan-tooltip{
  min-width: 100px;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  position: fixed;
  pointer-events: auto;
  z-index: 10000;
  padding-top: 1px;
}
.yvan-tooltip-msg{
  pointer-events: auto;
  color: #fff;
  padding: 0px 14px;
  position: relative;
  height: 32px;
  line-height: 32px;
  word-break: break-all;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 2px;
  background-color: #ff8400;
}
.yvan-tooltip em{
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ff8400;
  position: absolute;
  top: 8px;
  left: -8px;
}
.webix_inp_label, .webix_inp_top_label, legend.webix_forminput_label, .webix_el_label .webix_el_box{
  line-height: 28px!important;
  font-size: 13px
}
.webix_list_item{
  height: 32px!important;
  line-height: 32px;
  font-size: 13px!important
}
.webix_list_item.webix_selected{
  background: #e6f7ff;
  box-shadow: inset 2px 0 #1890ff;
}
input::-webkit-input-placeholder{
  color:#e4e4e4;
  font-size: 12px
}
input::-moz-placeholder{
  color:#e4e4e4;
  font-size: 12px
}
input:-ms-input-placeholder{
  color:#e4e4e4;
  font-size: 12px
}
.webix_el_radio .webix_radio_1 .webix_custom_radio{
  color:#1890ff
}
.webix_el_radio .webix_custom_radio:before{
  font-size: 18px;
}
.webix_el_combo span.webix_input_icon, .webix_el_richselect span.webix_input_icon, .webix_el_datepicker span.webix_input_icon, .webix_el_dbldatepicker span.webix_input_icon, .webix_el_colorpicker span.webix_input_icon, .webix_el_search span.webix_input_icon{
  height: 23px!important;
  padding-top: 4px!important;
}
.webix_cal_body .webix_cal_select .webix_cal_day_inner, .webix_cal_body .webix_cal_today.webix_cal_select .webix_cal_day_inner{
  background-color: #1890ff;
}
.webix_cal_body .webix_cal_event{
  color: #1890ff;
}
.webix_cal_body .webix_cal_today .webix_cal_day_inner{
  box-shadow: inset 0 0 0 1px #1890ff;
}
.webix_custom_checkbox{
  font-size: 18px;
  border-radius: 4px;
}
.webix_custom_checkbox:focus,.webix_checkbox_1 .webix_custom_checkbox{
  color: #1890ff;
}
.webix_switch_handle{
  width: 14px;
  height: 14px;
}
.webix_switch_box.webix_switch_on,.webix_switch_box{
  width: 40px!important;
  background-color: #1890ff;
}
.webix_switch_box{
  height: 17px;
  margin-top: -11px;
}
.webix_switch_handle{
  left: 24px!important;
}