/* ====================== tabview =========================*/
/* iframe 遮盖层样式 */
.webix_designer_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.webix_icon_btn.fa {
  font: normal normal normal 14px/1 FontAwesome;
}
.webix_all_tabs{
  width: 100%;
  border-bottom:1px solid #f0f0f0;
  height: 40px!important;
  display: block;
}
.webix_item_tab{
  /* width: 100px!important; */
  color:#475466!important;
  transition: color .3s ease;
  height: 40px!important;
}
.webix_all_tabs .webix_item_tab:hover{
  color:#1890ff!important;
  background: none!important;
}
.webix_all_tabs .webix_item_tab.webix_selected{
  box-shadow: inset 0 -2px #1890ff;
  color:#1890ff
}
.webix_all_tabs .webix_item_tab.webix_selected:focus{
  box-shadow: inset 0 -2px #1890ff;
  color:#1890ff
}
.webix_all_tabs .webix_selected{
  background: none!important;
}
.webix_all_tabs .webix_item_tab .webix_icon.webix_tab_close{
  font-size: 14px;
}
