/*======================== tree =======================*/
.webix_tree .webix_tree_item:hover {
  background-color: #eaeff4;
}

.webix_tree .webix_tree_item.webix_selected {
  background-color: #ffefbb;
}

.webix_tree_item {
  padding: 3px 0;
}